SUPABASE_URL=https://pzgyphnerjatlqlvvvsl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6Z3lwaG5lcmphdGxxbHZ2dnNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1ODAyODIsImV4cCI6MjA4NzE1NjI4Mn0.DJjMdi_LMo6iKX8JRRlxtgKl8Abfeb-9qcd9gJG5ijE
BACKEND_BASE_URL=http://10.0.2.2:5000
